.Layout8 {
  width: 1200px;
  margin: 0 auto;
}
.header {
  height: 100px;
  background-color: #b3e5fc;
}
.nav {
  height: 100px;
  background-color: #81d4fa;
}
.main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 780px;

  .aside {
    width: 30%;
    height: 780px;
    background-color: #4fc3f7;
  }
  .article1 {
    width: 70%;
    height: 260px;
    background-color: #29b6f6;
  }
  .article2-1 {
    width: 100%;
    height: 260px;
    background-color: #03a9f4;
  }
  .article2-2 {
    width: 100%;
    height: 260px;
    background-color: #039be5;
  }
}
.footer {
  height: 100px;
  background-color: #0288d1;
}

/* 미디어쿼리 */
@media (max-width: 1300px) {
  .Layout8 {
    width: 96%;
    .main {
      .article2 {
        display: flex;
        .article2-1 {
          width: 50%;
          height: 520px;
        }

        .article2-2 {
          width: 50%;
          height: 520px;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .Layout8 {
    width: 100%;
    .main {
      .article1 {
        width: 100%;
        height: 390px;
      }
      .article2 {
        .article2-1 {
          width: 100%;
          height: 390px;
        }

        .article2-2 {
          display: none;
        }
      }
    }
  }
}
@media (max-width: 480px) {
  .Layout8 {
    .main {
      .aside {
        width: 100%;
        height: 200px;
      }

      .article1 {
        height: 430px;
      }
      .article2 {
        .article2-1 {
          height: 150px;
        }

        .article2-2 {
        }
      }
    }
  }
}
