.Layout9 {
  width: 1200px;
  margin: 0 auto;

  .header {
    height: 100px;
    background-color: #b3e5fc;
  }
  .nav {
    height: 100px;
    background-color: #81d4fa;
  }
  .main {
    display: grid;
    grid-template-areas:
      "aside article1 article1"
      "aside article2 article2"
      "aside article3 article3";
    grid-template-columns: 300px 900px;
    grid-template-rows: 260px 260px 260px;

    .aside {
      width: 100%;
      background-color: #4fc3f7;
      grid-area: aside;
    }
    .article1 {
      width: 100%;
      background-color: #29b6f6;
      grid-area: article1;
    }
    .article2 {
      background-color: #03a9f4;
      grid-area: article2;
    }
    .article3 {
      background-color: #039be5;
      grid-area: article3;
    }
  }
  .footer {
    height: 100px;
    background-color: #0288d1;
  }
}
/* 미디어쿼리 */
@media (max-width: 1300px) {
  .Layout9 {
    width: 96%;
    .header {
    }

    .nav {
    }

    .main {
         grid-template-areas: 
                    "aside article1 article1"
                    "aside article2 article3"
                    "aside article2 article3";
                grid-template-columns: 30% 35% 35%;
                grid-template-rows: 260px 520px;
      .aside {
      }

      .article1 {
      }

      .article2 {
      }

      .article3 {
      }
    }

    .footer {
    }
  }
}
@media (max-width: 768px) {
  .Layout9 {
    width: 100%;
    .header {
    }

    .nav {
    }

    .main {
         grid-template-areas: 
                    "aside article1"
                    "aside article2";
                grid-template-columns: 30% 70%;
                // grid-template-rows: 390px 390px;
      .aside {
      }

      .article1 {
      }

      .article2 {
      }

      .article3 {
        display: none;
      }
    }

    .footer {
    }
  }
}
@media (max-width: 480px) {
  .Layout9 {
    .header {
    }

    .nav {
    }

    .main {
         grid-template-areas: 
                    "aside"
                    "article1"
                    "article2";
                grid-template-columns: 100%;
                grid-template-rows: 200px 430px 150px;
      .aside {
      }

      .article1 {
      }

      .article2 {
      }

      .article3 {
      }
    }

    .footer {
    }
  }
}
