.Layout12 {
  header {
    height: 100px;
    background-color: #eeebe9;
  }

  nav {
    height: 100px;
    background-color: #b9aaa5;
  }

  main {
    height: 780px;
    background-color: #886f65;
    .contents {
      display: flex;
      flex-wrap: wrap;
      .left {
        width: 100%;
        height: 100px;
        .cont1 {
          width: 100%;
          height: 100px;
          background-color: #74574a;
        }
      }

      .right {
        width: 100%;
        height: 680px;
        display: flex;
        flex-wrap: wrap;
        .cont2 {
          width: 100%;
          height: 200px;
          background-color: #684d43;
        }
        .cont3 {
          width: 50%;
          height: 480px;
          background-color: #594139;
        }
        .cont4 {
          width: 50%;
          height: 480px;
          background-color: #4a352f;
        }
      }
    }
  }

  footer {
    height: 100px;
    background-color: #4e342e;
  }
  .container {
    width: 1200px;
    height: inherit;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.1);
  }

  /* 미디어쿼리 */
  @media (max-width: 1300px) {
    .container {
      width: 96%;
    }
    main {
      .contents {
        .left {
          .cont1 {
          }
        }

        .right {
          .cont2 {
          }
          .cont3 {
          }
          .cont4 {
          }
        }
      }
    }
  }
  @media (max-width: 768px) {
    .container {
      width: 100%;
    }
    main {
      .contents {
        display: flex;
        .left {
          width: 30%;
          height: 780px;
          .cont1 {
            width: 100%;
            height: 780px;
          }
        }

        .right {
          width: 70%;
          height: 780px;
          display: flex;
          flex-wrap: wrap;
          .cont2 {
            width: 100%;
            height: 390px;
          }
          .cont3 {
            width: 50%;
            height: 390px;
          }
          .cont4 {
            width: 50%;
            height: 390px;
          }
        }
      }
    }
  }
  @media (max-width: 480px) {
    main {
      .contents {
        flex-wrap: wrap;
        .left {
          width: 100%;
          height: 150px;
          .cont1 {
            width: 100%;
            height: 150px;
          }
        }

        .right {
          width: 100%;
          height: 630px;
          .cont2 {
            width: 100%;
            height: 210px;
          }
          .cont3 {
            width: 100%;
            height: 210px;
          }
          .cont4 {
            width: 100%;
            height: 210px;
          }
        }
      }
    }
  }
}
